fastapi
uvicorn[standard]
tortoise-orm
aerich
asyncpg
python-dotenv
aiogram
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
requests
tomli
tomlkit
pytest
pytest-asyncio
httpx
asgi-lifespan
google-api-python-client
google-auth
